@model IEnumerable<DoaçãoNina.Models.ConhecaANina>

@{
    ViewData["Title"] = "Conheça a Nina 🐶";
}

<h1>Conheça a Nina 🐶</h1>

<h6>
    Quando perdi a minha primeira amiga de 4 patas, eu senti como se toda a felicidade que tivesse em meu lar fosse embora, mas passados 2 longos anos a minha mãe me deu a Nina, uma vira-lata muito bonita e agitada que cabia apenas na palma da minha mão, a chegada dela em nossa casa nos trouxe a felicidade de volta que já tinha ido embora a muito tempo.
</h6>
<h6>
    Passando os dias ela foi crescendo... ficando adulta... e com cada dia sendo um dia especial para ela e para min, pois sempre que estivesse ao meu alcance eu provia do melhor para ela.
</h6>
<h6>
    A Nina tem suas próprias características, as vezes ela fica séria e passa semanas sem brincar com seus brinquedos, as vezes ela esta carinhosa e todos os dias vem acordar, mas as vezes ela fica com raiva de min e fica no cantinho dela (isso acontece mais quando vou vacinar ela rsrsrs), as vezes ela tem seus próprios costumes quase que religiosos, como se deitar no sol ao amanhecer, ver o pessoal que passa na rua, latir para os gatos que andam no telhado da casa, mas ela também tem seus medos, como medo de trovão rsrs.
</h6>
<h6>
    Mas agora voltei a sentir uma dor que pensei que nunca mais sentiria... a dor de não conseguir mais uma vez ajudar a minha melhor amiga...
</h6>
<h6>
    Ela desenvolveu um caroço no dia 05/09/2020 e no dia 08/09/2020 na consulta o médico disse que era câncer...
</h6>
<h6>
    Neste cenário de pandemia pedir meu emprego, e o câncer da nina veio na pior hora, a hora que eu não tenho os recursos para ajudá-la, o medico disse que ainda posso salva-la, pois o câncer esta em estado inicial, vendo que meu esforço individual não será capaz de salvar dela a tempo venho através deste site que fiz com todo amor para a Nina, pedir a sua ajuda a salvar a minha melhor amiga, por favor doe qualquer quantia, irá me ajudar a salva-la, vou fazer meus sacrifícios, como apenas jantar ou almoçar, procurar bicos para fazer, mas a sua ajuda será muito bem vinda nesta minha jornada conta o tempo.
</h6>