@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Au au! </h1>
    <p>Seja bem vindo ao site de arecadação de doação para a cirurgia da Nina!</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Arecadado: R$250,00
                </th>
                <th>
                    Objetivo: R$2.257,50
                </th>
            </tr>
        </thead>
    </table>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="200" aria-valuemin="0" aria-valuemax="2257" style="width: 11%"></div>
    </div>
    <table class="table">
        <tr>
            <td>
                <a href="/ConhecaANinas"><img src="~/img/conhecaanina.jpg" /></a>
            </td>
            <td>
                <a href="/Orcamentoes"><img src="~/img/CUSTOS.jpg" /></a>
            </td>
            <td>
                <a href="/doacaos"><img src="~/img/DOAR AGORA.jpg" /></a>
            </td>
            <td>
                <a href="/UltDoas"><img src="~/img/ULTIMAS DOAÇÕES.jpg" /></a>
            </td>
            <td>
                <a href="/Feedbacks"><img src="~/img/FEEDBACK.jpg" /></a>
            </td>
        </tr>
    </table>
</div>
