@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Au au! </h1>
    <p>Seja bem vindo ao site de arecadação de doação para a cirurgia da Nina!</p>

    <table>
        <tr>
            <td>
                <a href="/ConhecaANinas"><img src="~/img/conhecaanina.jpg" /></a>
            </td>
        </tr>
    </table>
</div>
