@model IEnumerable<DoaçãoNina.Models.doacao>

@{
    ViewData["Title"] = "Doar Agora ❤";
}

<h1>Doar agora ❤</h1>

<h6>Sua doação é muito importante, pois vai salvar a vida da Nina!</h6>
<table class="table">
    <tr>
        <th>
            DOAR POR TRANSFERÊNCIA
        </th>
        <th>
            DOAR POR BOLETO, CARTÃO DE DEBITO OU CARTÃO DE CRÉDITO
        </th>
    </tr>
    <tr>
        <th>
            <img src="~/img/bb.jpg" />
        </th>
        <th>
            <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
            <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
                <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                <input type="hidden" name="currency" value="BRL" />
                <input type="hidden" name="receiverEmail" value="matheusfarias26@gmail.com" />
                <input type="hidden" name="iot" value="button" />
                <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/209x48-doar-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
            </form>
            <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
        </th>
    </tr>
    <tr>
        <th>
            <p>Titular: Matheus Pinto Farias</p>
            <p>CPF: 069.034.803-74</p>
            <p>Banco: Banco do Brasil</p>
            <p>Agência: 1295-5</p>
            <p>Conta: 63678-9</p>
            <p>Conta Corrente</p>
        </th>
    </tr>
</table>